@import '../../vendor/filament/filament/resources/css/theme.css';

.ql-container {
    border: none !important;
    border-left: 1px solid rgba(128, 128, 128, 0.3) !important;
    border-right: 1px solid rgba(128, 128, 128, 0.3) !important;
    margin: 0 auto !important;
    height: 100% !important;
}

.ql-toolbar {
    border: none !important;
    padding: 0 !important;
}

.ql-toolbar > div {
    border-bottom: 1px solid rgba(128, 128, 128, 0.3) !important;
}

.ql-toolbar::after {
    display: none !important;
}

.ql-formats {
    display: flex !important;
    flex-wrap: nowrap !important;
}

.ql-formats button:hover .ql-stroke, .ql-formats button:focus .ql-stroke,
.ql-picker-label[aria-expanded="true"] .ql-stroke,
.ql-picker-item:hover .ql-stroke, .ql-picker-item:focus .ql-stroke,
.ql-picker-label:hover .ql-stroke, .ql-picker-label:focus .ql-stroke,
.ql-selected .ql-stroke, .ql-active .ql-stroke {
    stroke: rgb(var(--primary-600)) !important;
}

.ql-formats button:hover .ql-fill, .ql-formats button:focus .ql-fill,
.ql-picker-label[aria-expanded="true"] .ql-fill,
.ql-picker-item:hover .ql-fill, .ql-picker-item:focus .ql-fill,
.ql-picker-label:hover .ql-fill, .ql-picker-label:focus .ql-fill,
.ql-selected .ql-fill, .ql-active .ql-fill {
    fill: rgb(var(--primary-600)) !important;
}

.ql-formats button:hover, .ql-formats button:focus,
.ql-picker-label[aria-expanded="true"],
.ql-picker-item:hover, .ql-picker-item:focus,
.ql-picker-label:hover, .ql-picker-label:focus,
.ql-selected, .ql-active {
    color: rgb(var(--primary-600)) !important;
}

.ql-formats button:hover, .ql-picker-label:hover {
    border-radius: 4px !important;
    background-color: rgba(128, 128, 128, 0.2) !important;
}

.ql-picker-label {
    border: none !important;
}

.ql-picker-options {
    border: 1px solid rgba(128, 128, 128, 0.3) !important;
    margin-top: 4px !important;
    border-radius: 4px !important;
}
